body {
  margin: 0;
  text-align: center;
  background: #1B244A;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: space-around;
  margin: auto;
  margin-top: 5%;
  max-width: 50%;
  border:1px solid #9AABD8;
  border-radius: 20px;
  padding: 80px 0 80px 0;
}

/* === Fonts === */
@font-face {
  font-family: "CursedTimer";
  src: url(Fonts/CursedTimerULiL.ttf);
}

@font-face {
  font-family: "Verdana";
  src: url(Fonts/VerdanaBold.ttf);
}

/* ================ */

h3 {
  margin: 0;
  font-family: "Verdana";
  font-size: 40px;
  color: #EEEEEE;
}

.score {
  background: #080001;
  border-radius: 5px;
  font-family: "CursedTimer";
  font-weight: 400;
  font-size: 90px;
  color: #F94F6D;
  padding-top: 10px;
  line-height: 127px;
  text-align: center;
  margin: 25px;
}

button {
  height: 45px;
  border: 2px solid #9AABD8;
  border-radius: 5px;
  background-color: transparent;
  font-family: "CursedTimer";
  font-size: 18px;
  color: #9AABD8;
}

.reset {
  width: 70px;
}
